<h1>Listing users</h1>

<div class="container books">
  <div class="row">
    <% @users.each do |user| %>
      <div class="user span4">
        <h3><%= link_to user.email, edit_user_path(user) %></h3>
        <p class="image"><%= #link_to image_tag(user.cover.url(:medium)), edit_user_path(user) 
        %></p>
        <ul>
          <li><%= link_to 'View user Public Page', user_view_path(user) %></li>
          <li><%= link_to "Edit user Details", edit_user_path(user) %></li>
          <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>