<%= form_for(@book, :html => { :multipart => true }) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :cover %><br>
    <%= f.file_field :cover %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.radio_button :active, true, :checked => true %>
    <%= f.label :inactive %><br>
    <%= f.radio_button :active, false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
