%h1= @book.title
- @chapters.each_with_index do |chapter,index|
 %hr 
 %h4
  %a{:name => "#{chapter.id}"}
   Chapter #{index}
 %h2= chapter.title 
 #{shortcode_to_link(chapter, :fulltext, @chapters.map{|i| i.id})}