<h1>Listing books</h1>

<% @books.each do |book| %>
  <div class="<%= "success" if book.active %>">
    <h3><%= link_to book.title, edit_book_path(book) %></h3>
    <p><%= link_to image_tag(book.cover.url(:thumb)), edit_book_path(book) %></p>
    <p>
    <ul>
      <li><%= link_to "Edit Book Details", edit_book_path(book) %></li>
      <li><%= link_to 'View Chapters', book_chapters_path(book) %></li>
      <li>View Chapters on a Map</li>
      <li><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div>
<% end %>

<br>

<%= link_to 'New Book', new_book_path %>
