<h1>Listing books</h1>

<div class="page-actions">
  
</div>

<div class="container books">
  <div class="row">
    <% @books.each do |book| %>
      <div class="book span4 <%= "success" if book.active %>">
        <h3><%= link_to book.title, edit_book_path(book) %></h3>
        <p class="image"><%= link_to image_tag(book.cover.url(:medium)), edit_book_path(book) %></p>
        <ul>
          <li><%= link_to 'View Book Public Page', book_view_path(book) %></li>
          <li><%= link_to 'Download Book in pdf', book_download_path(book,  {:format => "pdf"}) %></li>
          <li><%= link_to "Edit Book Details", edit_book_path(book) %></li>
          <li><%= link_to 'View Chapters', book_chapters_path(book) %></li>
          <li><%= link_to "View Chapters on a Map", book_chapters_map_path(book), 'data-popup' => true %></li>
          <li><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<% unless @other_books.empty? %>
<h1>Books from your neighbours</h1>
<div class="container books">
  <div class="row">
    <% @other_books.each do |book| %>
      <div class="book span4">
        <h3><%= link_to book.title, book_view_path(book) %></h3>
        <p><%= link_to image_tag(book.cover.url(:thumb)), book_view_path(book) %></p>
      </div>
    <% end %>
  </div>
</div>

<br>
<% end %>
