<h1>Listing chapters</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Introtext</th>
      <th>Fulltext</th>
      <th>Active</th>
      <th>Death</th>
      <th>Ending</th>
      <th>Beginning</th>
      <th>Book</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.title %></td>
        <td><%= chapter.introtext %></td>
        <td><%= chapter.fulltext %></td>
        <td><%= chapter.active %></td>
        <td><%= chapter.death %></td>
        <td><%= chapter.ending %></td>
        <td><%= chapter.beginning %></td>
        <td><%= chapter.book %></td>
        <td><%= link_to 'Show', chapter %></td>
        <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
        <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chapter', new_chapter_path %>
