:javascript
 $(document).ready(function() {
  $( ".sortable" ).sortable({
   axis: 'y',
   cursor: 'move',
   dropOnEmpty: false,
   opacity: 0.4,
   scroll: true,
   update: function(){
    $.ajax({
       url: '/books/2/chapters/sort',
       type: 'post',
       data: $(this).sortable("serialize", 'id'),
       dataType: 'script',
       complete: function(request){
         $('.chapters').effect('highlight');
       }
     });
   }
  });;
  $( ".sortable" ).disableSelection();
 });

.container.chapters
 .row 
  .col-md-12
   %ol.breadcrumb
    %li #{link_to 'Book', book_path(@book) }
    %li.active Chapters list
 .row
  .chapter-list.col-md-12
   .widget-header
    %i.icon-list-alt
    %h3 Chapters

   .widget-content
    .actions
     = link_to "<span class=\"glyphicon glyphicon-plus\"></span>".html_safe, new_book_chapter_path(@book)
     = link_to "<span class=\"glyphicon glyphicon-map-marker\"></span>".html_safe, book_chapters_map_path(@book), 'data-popup' => true

    %table.table.table-hover.chapters
     %thead
      %tr
       %th
       %th Title
       %th Beginning
       %th Ending
       %th Death
       %th
     %tbody.sortable
      -@chapters.each do |chapter|
       %tr{:id => "chapter_#{chapter.id}"}
        %td
         - if chapter.completed?
          = link_to "<span class=\"label label-success\"><span class=\"glyphicon glyphicon-ok\"></span></span>".html_safe, uncomplete_book_chapter_path(@book, chapter), method: :post, data: { confirm: 'Are you sure?' }
         - else
          = link_to "<span class=\"label label-danger\"><span class=\"glyphicon glyphicon-remove\"></span></span>".html_safe, complete_book_chapter_path(@book, chapter), method: :post, data: { confirm: 'Are you sure? You won\'t be able to edit the chapter until you reopen it again.' }
        %td.ui-state-default
         %span.ui-icon.ui-icon-arrowthick-2-n-s
         - if chapter.completed? 
          = chapter.title
         - else
          = link_to chapter.title, edit_book_chapter_path(@book, chapter) 
        %td
         %span.label{:class => "label-" + (chapter.beginning? ? "success" : "default")}
          %span.glyphicon{:class => "glyphicon-" + (chapter.beginning? ? "ok" : "remove")}
        %td
         %span.label{:class => "label-" + (chapter.ending? ? "success" : "default")}
          %span.glyphicon{:class => "glyphicon-" + (chapter.ending? ? "ok" : "remove")}
        %td
         %span.label{:class => "label-" + (chapter.death? ? "success" : "default")}
          %span.glyphicon{:class => "glyphicon-" + (chapter.death? ? "ok" : "remove")}
        %td
         = link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, book_chapter_path(@book, chapter), method: :delete, data: { confirm: 'Are you sure?' }
    = link_to "Book details", edit_book_path(@book), :class => "btn btn-default"