<p id="notice"><%= notice %></p>

<svg width="100%" height="500">
    <g transform="translate(20,20)"/>
</svg>
        <script>
         
         // Create a new directed graph
var g = new dagreD3.Digraph();

// Add nodes to the graph. The first argument is the node id. The second is
// metadata about the node. In this case we're going to add labels to each of
// our nodes.
<%
@chapters.each do |chapter| 
    label = ""
    label.concat(" - Beginning") if chapter.beginning?
    label.concat(" - Active") if chapter.active?
    label.concat(" - Death") if chapter.death?
    %>
    g.addNode("<%= chapter.id %>", { label: "<%= chapter.title.concat(label) %>" });
<%
end

@chapters.each do |chapter| 
    chapter.parents.each do |parent| 
        label = ""
        
        label.concat("Beginning") if parent.beginning?
        label.concat("Ending") if chapter.ending?

        %>
        g.addEdge(null, "<%= parent.id %>", "<%= chapter.id %>", { label: "<%= label %>" });
    <%
    end
end
%>

var renderer = new dagreD3.Renderer();
renderer.run(g, d3.select("svg g"));
        </script>

<%= link_to 'Back', books_path %>
