<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>

<p>
  <strong>Introtext:</strong>
  <%= @chapter.introtext %>
</p>

<p>
  <strong>Fulltext:</strong>
  <%= @chapter.fulltext %>
</p>

<p>
  <strong>Active:</strong>
  <%= @chapter.active %>
</p>

<p>
  <strong>Death:</strong>
  <%= @chapter.death %>
</p>

<p>
  <strong>Ending:</strong>
  <%= @chapter.ending %>
</p>

<p>
  <strong>Beginning:</strong>
  <%= @chapter.beginning %>
</p>

<p>
  <strong>Book:</strong>
  <%= @chapter.book %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
