!!!
%html
 %head
  %title 
   Bookgame
  = stylesheet_link_tag    "application", :media => "all",  "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  = favicon_link_tag
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />

 %body
  = render :partial => 'layouts/navigation'
  .container
   .row
    .span12
     = render :partial => 'layouts/notifications'
   .row
    .span12
     = yield