!!!
%html
 %head
  %title 
   Bookgame
  = stylesheet_link_tag    "application", :media => "all",  "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  = favicon_link_tag
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
  = wicked_pdf_stylesheet_link_tag "pdf"

 %body{:onload => "number_pages()"}
  #header
  #content
   = yield